---
# Lets add a comment to make this file sass-y.
# Change this file for any custom CSS.
---
// Import partials from `sass_dir` (defaults to `_sass`)

@import
	"syntax"
;

.flex-grid {
  
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    padding: 0;
    list-style-type: none;
    text-align: center;
  }

  li {
    border: 1px solid #E2E2E2;
    border-radius: .5rem;
    background: #F7F9F9;
    padding: 10px;
    list-style-type: none;
  }
  
}

.material-icons.md-64 { 
    font-size: 64px; 
}

.btn {
    display: inline-flex;
    color: #000;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0;
    padding: 0 .7em;
    height: 2.4em;
    line-height: 2.4em;
    border: none;
    outline: none;
    border-radius: 3px;
    background-color: rgb(255, 211, 0);
    font-weight: 500;
    font-size: 1.05em;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
